.task-informer, .task-informer span{
    font-size: 1.6vw;
    color: var(--text-color);
    font-family: "Proxima Nova";
    letter-spacing: 8px;
    font-weight: bold;
}
.delete-link {
    color: red;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
}


/* ВЕРХНЕЕ МЕНЮ ЗАДАЧ */
.task-menu {
    height: 60px;
}

#bx-component-scope-bitrix_tasks_interface_topmenu_3 {
    height: 100%;
}
.task-menu-group-first {

    height: 100%;
}
.border-item {
    border-right: 1px solid var(--text-color);

}

.task-menu a {
    font-weight: bold;
    color: var(--header-text-color);
}

/* Активный элемент меню таск */
.active-menu-item  {
    border-bottom: 2px solid blue;
}
.active-menu-item a {
    color: var(--link-color)
}

/* При наведении на элемент меню таск*/
.task-menu a:hover {
    color: var(--link-color)
}



/* ПАНЕЛЬ ПОИСКА И ДОБАВЛЕНИЯ ЗАДАЧИ */

.task-add-search-panel {
    border-bottom: 1px solid var(--text-color);
}


/* ДОПОЛНИТЕЛЬНАЯ ПАНЕЛЬ ПО РАБОТЕ С ЗАДАЧАМИ */
.dop-menu-item a {
    vertical-align: center;
    color: var(--text-color)
}

.dop-menu-item-active a {
    text-decoration: underline;
}

.dop-task-panel .card {
    border-radius: 10px;
}

.circle-num {
    background: #ccc;
    border-radius: 50%;
    text-align: center;
    padding: .3em .65em;
}


/*СТРАНИЦЫ ЭФФЕКТИВНОСТИ*/

.line-divider {
    border-bottom: 0.2px solid var(--text-color);
}

/* Установка цветов хедеров виджетов */
.green-header {
    background-color: var(--green-widget-header-color);
}

.green-header h4, .blue-header h4, .red-header h4 {
    color: var(--white-element-color);
}

.blue-header {
    background-color:  var(--blue-widget-header-color);
}

.red-header {
    background-color: var(--red-widget-header-color);
}

.widget-effect-percent, .widget-in-work, .widget-complete, .comments-for-task {
    border-radius: 20px;
}

.blue-header, .green-header, .red-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.widget-body {
    height: 200px;
}

/* Установка цветов боди виджетов */

.blue-body {
    background-color: var(--blue-widget-body-color);
}

.green-body {
    background-color: var(--green-widget-body-color);
}

.red-body {
    background-color: var(--red-widget-body-color);
}

.blue-body, .green-body, .red-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* Значения в виджете */
.widget-value {
    position: absolute;
    bottom: 15px;
    right: 24px;
    color: var(--white-element-color);
    font-size: 36px;
}


.percent-value {
    font-size: 72px;
    border: solid 10px var(--blue-widget-body-color);
    border-radius: 50%;
}


/*СТРАНИЦА ПРОЕКТОВ*/
.project-card-header {
    background-color: #253f73;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.project-card{
    background-color: #2f477a;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.project-card-header h3 {
    color: var(--white-element-color);
}

.project-card-body p {
    color: var(--text-color);
}

.project-card-footer {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.divider {
    height: 75px;
}

.project-card {
    position: relative;
}


.project-card i {
    position: absolute;
    bottom: 15px;
    right: 15px;
}


/*Кастомные цвета блоков проектов*/
.COLOR_CHOICE_GREEN {
    background-color: var(--color-choice-green);
}

/*Текст внутри блоков*/
.COLOR_CHOICE_GREEN p, .COLOR_CHOICE_DEEP_BLUE p, .COLOR_CHOICE_BLUE p, .COLOR_CHOICE_LIGHT_YELLOW p, .COLOR_CHOICE_ORANGE p{
    color: var(--white-element-color);
}

.COLOR_CHOICE_GREEN-header {
    background-color: var(--color-choice-green-header);
}

.COLOR_CHOICE_DEEP_BLUE {
    background-color: var(--color-choice-deep-blue);
}

.COLOR_CHOICE_DEEP_BLUE-header {
    background-color: var(--color-choice-deep-blue-header);
}

.COLOR_CHOICE_BLUE {
    background-color: var(--color-choice-blue);
}

.COLOR_CHOICE_BLUE-header {
    background-color: var(--color-choice-blue-header);
}

.COLOR_CHOICE_LIGHT_YELLOW {
    background-color: var(--color-choice-light-yellow);
}

.COLOR_CHOICE_LIGHT_YELLOW-header {
    background-color: var(--color-choice-light-yellow-header);
}

.COLOR_CHOICE_ORANGE {
    background-color: var(--color-choice-orange);
}

.COLOR_CHOICE_ORANGE-header {
    background-color: var(--color-choice-orange-header);
}


/*СТРАНИЦА РАБОТЫ С КОНКРЕТНЫМ ПРОЕКТОМ*/
.fa-folder {
    color: var(--white-element-color);
}
.detail-project-name h3 {
    color: var(--white-element-color);
}

.status-project h4 {
    color: var(--white-element-color);
}

.status-project .done {
    color: var(--succes-color-green)
}

.status-project .in-work {
    color: var(--danger-color-orange);
}