h4 {
    margin-left: px;
    font-size: 1.6vw;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    letter-spacing: 8px;
    font-weight: bold;
}
.delete-link {
    color: red;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
}