{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Задачи и проекты</title>
{% endblock title %}

{%block styles %}
<link rel="stylesheet" href="{% static 'to_do_list/css/to_do_list.css' %}">
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with taskpage="active" %}

{% endblock sidebar %}

{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    {% include "base/to_do_list/hello_text.html" %}
    {% include "base/to_do_list/navigation.html" with active3="active-menu-item" %}


    <div class="container-fluid mt-4 ps-0 pe-0 task-add-search-panel">
        <div class="d-flex flex-row">
            <div class="me-5">
                <h3>Эффективность</h3>
            </div>

            <div class="flex-grow-1 me-5">
                <form method="GET">

                            <div class="input-group mb-3 h-50">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Поиск по задачам..." name="search-area" value="{{ search_input }}">
                                <button class="btn btn-info py-0" type="submit" value="Search"><i class="fas fa-search"></i>
                                </button>
                            </div>
                </form>
            </div>

            <div class="ms-5 me-5">
                <a href="{% url 'to_do_list:task-create' %}">
                    <button class="btn btn-primary mb-5" type="button">ДОБАВИТЬ ЗАДАЧУ</button>
                </a>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-5 p-0">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xxl-6 pe-4">
                <div class="widget-effect-percent card shadow h-100">

                    <div class="effect-card-header">
                        <h4 class="ms-3 me-3 mb-3 mt-3">Эффективность</h4>
                    </div>
                    <div class="line-divider ms-3 me-3"></div>
                    <div class="widget-body-main my-auto mx-auto">
                        <p class="text-center percent-value">{{percent_done}} %</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xxl-6 pe-5">
                <div class="row pb-3">
                    <div class="col-12">
                        <div class="widget-in-work card shadow h-100">
                            <div class="effect-card-header blue-header">
                                <h4 class="ms-3 me-3 mb-3 mt-3" >Всего в работе</h4>
                            </div>
                            <div class="widget-body blue-body">
                                <div class="widget-value">{{all_tasks}}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-6 pe-4">
                        <div class="widget-complete card shadow">
                            <div class="effect-card-header green-header">
                                <h4 class="ms-3 me-3 mb-3 mt-3">Завершено задач</h4>
                            </div>
                            <div class="widget-body green-body">
                                <div class="widget-value">{{done}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 p-0">
                        <div class="comments-for-task card shadow">
                            <div class="effect-card-header red-header">
                                <h4 class="ms-3 me-3 mb-3 mt-3">Замечания</h4>
                            </div>

                            <div class="widget-body red-body">
                                <div class="widget-value">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}

{% block scripts %}
<script src={% static "to_do_list/js/to_do_list/hello_text.js" %}></script>
{% endblock scripts %}