{% extends 'base/page/base.html' %}
{% load static %}


{% block title %}
<title>Проекты</title>
{% endblock title %}


{%block styles %}
<link rel="stylesheet" href="{% static 'to_do_list/css/to_do_list.css' %}">
{% endblock styles%}


{% block sidebar %}

{% include 'base/page/sidebar.html' with taskpage="active" %}

{% endblock sidebar %}


{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}


{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    {% include "base/to_do_list/hello_text.html" %}
    {% include "base/to_do_list/navigation.html" with active2="active-menu-item" %}

    <div class="container-fluid mt-4 ps-0 pe-0 task-add-search-panel">
        <div class="d-flex flex-row">
            <div class="me-5">
                <h3>Мои проекты</h3>
            </div>

            <div class="me-5">
                <a href="{% url 'to_do_list:project-create' %}">
                    <button class="btn btn-primary mb-5" type="button">СОЗДАТЬ</button>
                </a>
            </div>

            <div class="flex-grow-1">
                <form method="GET">

                            <div class="input-group mb-3 h-50">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Поиск по проектам..." name="search-area" value="{{ search_input }}">
                                <button class="btn btn-info py-0" type="submit" value="Search"><i class="fas fa-search"></i>
                                </button>
                            </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-4 ps-0 pe-0 dop-task-panel">
        <div class="d-flex flex-row">
            <div class="d-flex flex-row me-5 widget card shadow">
                <div class="dop-menu-item me-3 ms-3">
                    <a href="">Мои: </a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{count}}</span> Незавершенные</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{count}}</span>  Комментарии</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{done}}</span>  Завершенных</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href="">Прочитать все</a>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            {% for project in projects %}
            {% if project.complete %}
            {% else %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 pe-4 pb-4">
                    <div class="project-card {{project.project_color}} h-100">
                        <a href="{% url 'to_do_list:project-page' project.id %}">
                             <div class="project-card-header {{project.project_color}}-header">
                                 <h3 class="ms-3 me-3 mb-3 mt-3 pt-3 pb-3 pe-3">{{project.name}}</h3>
                             </div>
                        </a>
                        <div class="project-card-body">
                            <p class="pe-3 ps-3 pb-5">
                                {{project.description}}
                            </p>
                        </div>
                        <div class="divider"></div>
                        <div class="project-card-footer">
                            <div class="">


                            </div>
                        </div>
                        <a href="{% url 'to_do_list:project-update' project.id %}">
                            <i class="fa fa-paint-brush" aria-hidden="true" style="color: var(--white-element-color)"></i>
                        </a>
                    </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}

{% block scripts %}
<script src={% static "to_do_list/js/to_do_list/hello_text.js" %}></script>
{% endblock scripts %}
