{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Задачи и проекты</title>
{% endblock title %}

{%block styles %}
<link rel="stylesheet" href="{% static 'to_do_list/css/to_do_list.css' %}">
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with taskpage="active" %}

{% endblock sidebar %}

{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    <div class="row-2 justify-content-start mb-5">
        <a href="{% url 'to_do_list:project-list' %}">
            <button type="button my-2" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"></path>
                    </svg>
                    Вернуться назад
            </button>
        </a>
    </div>

    {% if project %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-2">{{ project.name }}</h3>
    </div>
    {% else %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-2">Добавление новой задачи</h3>
    </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 col-xl-12 mb-4">
                <div class="widget card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Название проекта</label>

                            <textarea type="text" name="name" class="form-control" id="id_name" placeholder="Введите название проекта...">{{project.name}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Описание</label>
                            <textarea type="text" name="description" class="form-control" id="id_description" rows="3" placeholder="Введите описание проекта...">{{project.description}}</textarea>
                        </div>
                         <div class="mb-3">
                            {% if project.complete %}
                            <input class="form-check-input" name="complete" type="checkbox" id="id_complete" checked>
                            <label class="form-check-label" for="id_complete">
                                Пометить как выполненный
                            </label>
                            {% else %}
                            <input class="form-check-input" name="complete" type="checkbox" id="id_complete">
                            <label class="form-check-label" for="id_complete">
                                Пометить как выполненный
                            </label>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {% if project %}
                            <button class="btn btn-success mt-2 mb-2" type="submit" value="submit">Сохранить изменения</button>
                            {% else %}
                            <button class="btn btn-primary mt-2 mb-2" type="submit" value="submit">СОЗДАТЬ</button>
                            {% endif %}
                        </div>
                        {{ form.errors }}

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}

{% block scripts %}

{% endblock scripts %}