{% extends 'base/page/base.html' %}
{% load static %}


{% block title %}
<title>Проекты</title>
{% endblock title %}


{%block styles %}
<link rel="stylesheet" href="{% static 'to_do_list/css/to_do_list.css' %}">
{% endblock styles%}


{% block sidebar %}

{% include 'base/page/sidebar.html' with taskpage="active" %}

{% endblock sidebar %}


{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}


{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    {% include "base/to_do_list/hello_text.html" %}
    {% include "base/to_do_list/navigation.html" with active2="active-menu-item" %}

    <div class="container-fluid mt-4 ps-0 pe-0 task-add-search-panel">
        <div class="d-flex flex-row">
            <div class="me-5">
                <h3>Мои проекты</h3>
            </div>

            <div class="me-5">
                <a href="{% url 'to_do_list:project-create' %}">
                    <button class="btn btn-primary mb-5" type="button">СОЗДАТЬ</button>
                </a>
            </div>

            <div class="flex-grow-1">
                <form method="GET">

                            <div class="input-group mb-3 h-50">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Поиск по проектам..." name="search-area" value="{{ search_input }}">
                                <button class="btn btn-info py-0" type="submit" value="Search"><i class="fas fa-search"></i>
                                </button>
                            </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-4 ps-0 pe-0 dop-task-panel">
        <div class="d-flex flex-row">
            <div class="d-flex flex-row me-5 widget card shadow">
                <div class="dop-menu-item me-3 ms-3">
                    <a href="">Мои: </a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{count}}</span> Незавершенные</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{count}}</span>  Комментарии</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href=""><span class="circle-num">{{done}}</span>  Завершенных</a>
                </div>
                <div class="dop-menu-item me-3 ms-3">
                    <a href="">Прочитать все</a>
                </div>
            </div>
        </div>

    </div>


    <div class="container-fluid task-panel-list mt-5 widget card shadow">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox"></th>
                    <th scope="col"><i class="fa fa-cog" aria-hidden="true"></i></th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата создания</th>

                </tr>
            </thead>

            <tbody>
                {% for project in projects %}
                {% if task.complete %}
                {% else %}
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td><i class="fa fa-bars" aria-hidden="true"></i></td>

                    <td>
                        <a href="{% url 'to_do_list:project-update' project.id %}">
                            <p>{{project.name}}</p>
                        </a>
                    </td>
                    <td>{{project.description}}</td>
                    <td>{{project.created_at}}</td>

                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

        </table>

        <div class="d-flex flex-row mt-3 mb-3 justify-content-between">
            <div class="d-flex flex-row me-5 ">
                <div class="me-5">
                    <p>ОТМЕЧЕНО 0 / {{count}}</p>
                </div>
                <div class="me-5">
                    <p>ВСЕГО: <span style="color: var(--link-color)">ПОКАЗАТЬ КОЛИЧЕСТВО</span></p>
                </div>
                <div class="me-5 flex-1">
                    <p>СТРАНИЦЫ: 1</p>
                </div>
            </div>
            <div class="d-flex justify-content-end me-5 ">
                <div class="me-3 d-flex">
                    <p>НА СТРАНИЦЕ:</p>
                </div>
                <div class="d-flex">
                    <select class="form-select" aria-label="Пример выбора по умолчанию">
                      <option selected></option>
                      <option value="1">5</option>
                      <option value="2">10</option>
                      <option value="3">50</option>
                      <option value="3">100</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row mb-3">
            <div class="me-5">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ВЫБЕРИТЕ ДЕЙСТВИЕ
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Завершить</a></li>
                    <li><a class="dropdown-item" href="#">Указать крайний срок</a></li>
                    <li><a class="dropdown-item" href="#">Сменить исполнителя</a></li>
                    <li><a class="dropdown-item" href="#">Сменить постановщика</a></li>
                    <li><a class="dropdown-item" href="#">Добавить в избранное</a></li>
                    <li><a class="dropdown-item" href="#">Убрать из избранного</a></li>
                    <li><a class="dropdown-item" href="#">Удалить</a></li>
                  </ul>
                </div>
            </div>
            <div class="me-5">
                <button type="button" class="btn btn-info" style="color: var(--white-element-color)">ПРИМЕНИТЬ</button>
            </div>
            <div class="my-auto me-1">
                <input type="checkbox">
            </div>
            <div class="my-auto">
                <p class="my-auto">ДЛЯ ВСЕХ</p>
            </div>
        </div>
    </div>
</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}

{% block scripts %}
<script src={% static "to_do_list/js/to_do_list/hello_text.js" %}></script>
{% endblock scripts %}
