body {
    background-color: #072A40;
}


.navbar-left {
    background-color: #072A40;
}

.header {
    background-color: #072A40;
    border-bottom: 4px solid #FFFFFF;
}

footer {
    background-color: #072A40;
}

.menu-left-list {

}

#content {
        background-color: #072A40;

}

.dropdown-menu {
    background-color: rgba(39, 70, 89, 1);
}

.widget {
    background-color: rgba(39, 70, 89, 0.8);
}

h3 {
    margin-left: 20px;
    font-size: 2vw;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    letter-spacing: 8px;
    font-weight: bold;
}

h6 {
    font-size: 22px;
}



span, p, h6, h4 {
    font-family: "Proxima Nova";
    color: #FFFFFF;
}

.navbar-left span {
    font-family: "Proxima Nova";
    color: #FFFFFF;

}

.time-node, .date-node {
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar-left {
    border-right: 4px solid #FFFFFF;
}
.dropdown-menu a {
    font-family: "Proxima Nova";
    color: #FFFFFF;
}

.fas {
    color: #FFFFFF;
}



.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion {
    background-color: transparent;
    color: transparent;
}

.nav-link span {
    color: rgba(255, 255, 255, 0.58);
}

.active span {
    color: #FFFFFF;
}

.accordion-body {
    padding: 0;
}

.instrument-h h4 {
    font-weight: bold;
    font-family: "Proxima Nova";
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 1.5vw;
}