@import "../colors/colors.css";


body {
    background-color: var(--main-page-color);
}


.navbar-left {
    background-color: var(--navbar-left-color);
}

.header {
    background-color: var(--main-page-color);
    border-bottom: 4px solid #FFFFFF;
}

footer {
    background-color: #072A40;
}

.menu-left-list {

}

#content {
        background-color: var(--main-page-color);

}

.dropdown-menu {
    background-color: var(--main-page-color);
}


/* ЦВЕТ ЗАДНЕГО ФОНА ВИДЖЕТОВ */
.widget {
    background-color: var(--widget-color);
}

/*h3 {*/
/*    margin-left: 20px;*/
/*    font-size: 2vw;*/
/*    color: var(--header-text-color);*/
/*    font-family: "Proxima Nova";*/
/*    letter-spacing: 8px;*/
/*    font-weight: bold;*/
/*}*/



/*ШРИФТЫ*/

h1, h2, h3 {
    color: var(--header-text-color);
}

h4, h5, h6 {
    color: var(--text-color);
}

p, span {
    color: var(--text-color);
}




.navbar-left span {
    font-family: "Proxima Nova";
    color: #FFFFFF;

}


/* ЦВЕТ ОТОБРАЖАЕМОЙ ДАТЫ И ВРЕМЕНИ */
.time-node, .date-node {
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    color: var(--header-text-color);
}


/* ПРАВЫЙ БОРДЕР У НАВБАРА СЛЕВА */
.navbar-left {
    border-right: 4px solid #FFFFFF;
}


.dropdown-menu a {
    font-family: "Proxima Nova";
    color: var(--text-color);
}


/* ЦВЕТ ИКНОКИ ПОИСКА */
.fa-search {
    color: var(--white-element-color);
}

/* ЦВЕТ КОЛИЧЕСТВА ПРОПУЩЕННЫХ СООБЩЕНИЙ */
.nav-link .badge {
    color: var(--white-element-color)
}


.accordion-item {
    background-color: transparent;
    border: none;
}



.nav-link span {
    color: var(--text-color);
}

.active span {
    color: #FFFFFF;
}

.accordion-body {
    padding: 0;
}

.instrument-h h4 {
    font-weight: bold;
    font-family: "Proxima Nova";
    color: var(--header-text-color);
    margin-left: 20px;
    font-size: 1.5vw;
}

form strong {
    color: var(--text-color);
}

