body {
    background-color: #072A40;
}


.navbar-left {
    background-color: #072A40;
}

.header {
    background-color: #072A40;
}

footer {
    background-color: #072A40;
}


#content {
        background-color: #072A40;

}

.dropdown-menu {
    background-color: rgba(39, 70, 89, 1);
}

.widget {
    background-color: rgba(39, 70, 89, 0.8);
}

h3 {
    margin-left: 20px;
    font-size: 2vw;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    letter-spacing: 8px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
}

span, p, h6, h4 {
    font-family: "Proxima Nova";
    color: #FFFFFF;
}

.navbar-left span {
    font-family: "Proxima Nova";
    color: #FFFFFF;
}

.dropdown-menu a {
    font-family: "Proxima Nova";
    color: #FFFFFF;
}

.fas {
    color: #FFFFFF;
}
