{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Ваш профиль</title>
{% endblock title %}

{%block styles %}
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with profilepage="active" %}

{% endblock sidebar %}

{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid">
    <h3 class="text mb-4">Ваш профиль - {{ user.username }}</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="widget card mb-3">
                <div class="content-section">
                    <div class="media">
                        <div class="card-body text-center shadow">
                            {% if user.profile.img %}
                            <img class="rounded-circle-img mb-3 mt-4" src="../media/{{user.profile.img}}" width="160" height="160">
                            {% else %}
                            <img class="rounded-circle-img mb-3 mt-4" src="../media/images/default_avatar.png" width="160" height="160">
                            {% endif %}
                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" onclick="location.href='{% url 'main:upload' %}?next=/profile'">Сменить фото профиля</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
            </form>
<!--                           {% if img_obj %}-->
<!--                              <h3>Succesfully uploaded : {{img_obj.title}}</h3>-->
<!--                              <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">-->
<!--                            {% endif %}-->

            <div class="widget card shadow mb-4">
                <div class="widget card-header py-3">
                    <h6 class=" fw-bold m-0">Projects</h6>
                </div>
                <div class="widget card-body">
                    <h4 class="small fw-bold">Server migration<span class="float-end">20%</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                    </div>
                    <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                    </div>
                    <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                    </div>
                    <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                    </div>
                    <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class=" small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="widget card shadow mb-3">
                            <div class="widget card-header py-3">
                                <p class=" m-0 fw-bold">User Settings</p>
                            </div>
                            <div class="widget card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Имя пользователя</strong></label><input class="form-control" type="text" id="username" value="{{ user.username }}" name="username" ></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="email"><strong>Адрес электронной почты</strong></label><input class="form-control" type="email" id="email" value="{{ user.email }}" name="email" ></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Имя</strong></label><input class="form-control" type="text" id="first_name"  value="{{ user.first_name }}" name="first_name"></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Фамилия</strong></label><input class="form-control" type="text" id="last_name" value="{{ user.last_name }}" name="last_name" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget card shadow">
                            <div class="widget card-header py-3">
                                <p class="text m-0 fw-bold">Контактные данные</p>
                            </div>
                            <div class="widget shadow card-body">
                                <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label>
                                    <input class="form-control" type="text" id="address"  value="{{user.profile.address}}" name="address"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="city"><strong>City</strong></label>
                                            <input class="form-control" type="text" id="city" value="{{user.profile.city}}" name="city">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="country"><strong>Country</strong></label><input class="form-control" type="text" id="country" value="{{user.profile.country}}" name="country"></div>
                                    </div>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button class="btn btn-primary btn-sm" type="submit" href="">Сохранить изменения</button>
                                </div></div>
                        </div>
                    </form>
                    <div class="container mt-3 mb-3">
                        <div class="row">
                            <div class="col-10 text-end">
                                <form method="post" action="{% url 'password_change' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm onclick=" location.href='{% url 'password_change' %}'">
                                    Сменить пароль
                                    </button>
                                </form>
                            </div>
                            <div class="col-2 text-end">
                                <form method="post" action="{% url 'logout' %}?next=/profile">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm onclick="location.href='{% url 'logout' %}?next=/profile'">
                                    Выйти из аккаунта
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock pagecontent %}

{% block scripts %}

{% endblock scripts %}