@import "../../../../main/static/main/css/colors/colors.css";

.news-card {
    background-color: var(--widget-color);
    border-radius: 10px;
    padding: 0;
}
.news-card h3 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
}

.news-card .container {
    padding: 0;
}

h4 {
    font-weight: bold;

}