<div class="container-fluid task-menu widget card shadow task-menu">
    <div class="d-flex flex-row" id="bx-component-scope-bitrix_tasks_interface_topmenu_3">
        <div class="p-2 my-auto task-menu-group-first {{active1}} align-middle">
            <a href="{% url 'to_do_list:task_list' %}" class="align-middle"> Задачи > </a>
        </div>
        <div class="p-2 border-item task-menu-group"></div>
        <div class="p-2 task-menu-group {{active2}} ms-4 me-4">
            <a href="{% url 'to_do_list:project-list' %}" class="">Проекты</a>
        </div>
        <div class="p-2 task-menu-group {{active3}} me-4 ms-4">
            <a href="{% url 'to_do_list:efficiency' %}">Эффективность</a>
        </div>
        <div class="p-2 task-menu-group {{active4}}  me-4 ms-4">
            <a href="">Корзина</a>
        </div>
        <div class="p-2 task-menu-group {{active5}} me-4 ms-4">
            <a href="">Еще ˬ</a>
        </div>

        </div>
</div>