{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Дэшборд финансы</title>
{% endblock title %}

{%block styles %}
<link rel="stylesheet" href="{% static 'finance/css/finance.css' %}">
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with financepage="active"  financeanalyticspage="active" icon2='<i class="fa fa-power-off glow-icon" aria-hidden="true"></i>' %}

{% endblock sidebar %}


{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid main-page mt-5">
	<div class="row mt-5">
		<div class="d-sm-flex justify-content-between align-items-center mb-2">
			<h2 class="mb-2">Система интеллектуальной аналитики</h2>
		</div>
	</div>

	<div class="row mt-5">
		<header>
		<input type="search" placeholder="Search..." />
		</header>
		<nav id="ticker-tape"></nav>
		<main>
			<div class="row mt-5">
				<section id="symbol-info">
				</section>
			</div>
			<div class="row mt-5">
				<section id="advanced-chart">

				</section>
			</div>
			<div class="row mt-5">
				<div class="col">
					<section id="company-profile"></section>
				</div>
				<div class="col">
					<section id="fundamental-data"></section>
				</div>
				<div class="col">
					<section id="technical-analysis"></section>
				</div>
				<div class="col">
					<section id="top-stories"></section>
				</div>

			</div>

				<section id="powered-by-tv">
					<svg xmlns="http://www.w3.org/2000/svg" width="157" height="21">
						<use href="/widget-docs/tradingview-logo.svg#tradingview-logo"></use>
					</svg>
				</section>
			</main>
	</div>
		<template id="ticker-tape-widget-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
					async
				>
					{
					"symbols": [
					  {
						"description": "",
						"proName": "NASDAQ:TSLA"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:AAPL"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:NVDA"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:MSFT"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:AMZN"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:GOOGL"
					  },
					  {
						"description": "",
						"proName": "NASDAQ:META"
					  },
					  {
						"description": "",
						"proName": "NYSE:BRK.B"
					  },
					  {
						"description": "",
						"proName": "NYSE:LLY"
					  },
					  {
						"description": "",
						"proName": "NYSE:UNH"
					  },
					  {
						"description": "",
						"proName": "NYSE:V"
					  },
					  {
						"description": "",
						"proName": "NYSE:WMT"
					  }
					],
					"showSymbolLogo": true,
					"colorTheme": "light",
					"isTransparent": false,
					"displayMode": "adaptive",
					"locale": "en",
					"largeChartUrl": "#"
					 }
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<template id="symbol-info-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
					async
				>
					{
					"symbol": "NASDAQ:AAPL",
					"width": "100%",
					"locale": "en",
					"colorTheme": "light",
					"isTransparent": true
					 }
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<script
					type="text/javascript"
					src="https://s3.tradingview.com/tv.js"
				></script>
		<template id="advanced-chart-template">
			<!-- TradingView Widget BEGIN -->
			<div
				class="tradingview-widget-container"
				style="height: 500px; width: 100%"
			>
				<div
					id="tradingview_ae7da"
					style="height: calc(100% - 32px); width: 100%"
				></div>

				<script type="text/javascript">
					new TradingView.widget({
						autosize: true,
						symbol: 'NASDAQ:AAPL',
						interval: 'D',
						timezone: 'Etc/UTC',
						theme: 'light',
						style: '1',
						locale: 'en',
						enable_publishing: false,
						hide_side_toolbar: false,
						allow_symbol_change: true,
						studies: ['STD;MACD'],
						container_id: 'tradingview_ae7da',
					});
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<template id="company-profile-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js"
					async
				>
					  {
					  "width": "100%",
					  "height": "200px",
					  "colorTheme": "light",
					  "isTransparent": true,
					  "symbol": "NASDAQ:AAPL",
					  "locale": "en"
					}
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<template id="fundamental-data-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js"
					async
				>
					  {
					  "colorTheme": "light",
					  "isTransparent": true,
					  "largeChartUrl": "",
					  "displayMode": "adaptive",
					  "width": "100%",
					  "height": "300px",
					  "symbol": "NASDAQ:AAPL",
					  "locale": "en"
					}
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<template id="technical-analysis-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
					async
				>
					{
					"interval": "15m",
					"width": "100%",
					"isTransparent": true,
					"height": "300px",
					"symbol": "NASDAQ:AAPL",
					"showIntervalTabs": true,
					"displayMode": "single",
					"locale": "en",
					"colorTheme": "light"
					 }
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<template id="top-stories-template">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
				<div class="tradingview-widget-container__widget"></div>
				<script
					type="text/javascript"
					src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
					async
				>
					  {
					  "feedMode": "symbol",
					  "symbol": "NASDAQ:AAPL",
					  "colorTheme": "light",
					  "isTransparent": true,
					  "displayMode": "regular",
					  "width": "100%",
					  "height": "300px",
					  "locale": "en"
					}
				</script>
			</div>
			<!-- TradingView Widget END -->
		</template>
		<script>
			function getQueryParam(param) {
				let urlSearchParams = new URLSearchParams(window.location.search);
				return urlSearchParams.get(param);
			}
			function readSymbolFromQueryString() {
				return getQueryParam('tvwidgetsymbol');
			}

			function cloneTemplateInto(templateId, targetId, rewrites) {
				const tmpl = document.querySelector(`#${templateId}`);
				if (!tmpl) return;
				const target = document.querySelector(`#${targetId}`);
				if (!target) return;
				target.innerText = '';
				const clone = tmpl.content.cloneNode(true);
				if (rewrites) {
					const script = clone.querySelector('script');
					script.textContent = rewrites(script.textContent);
				}
				target.appendChild(clone);
			}
			function currentPage() {
				const l = document.location;
				if (!l) return;
				if (l.origin && l.pathname) return l.origin + l.pathname;
				return l.href;
			}
			cloneTemplateInto('ticker-tape-widget-template', 'ticker-tape', function(scriptContent) {
				const currentPageUrl = currentPage();
				if (!currentPageUrl) return scriptContent;
				return scriptContent.replace('"largeChartUrl": "#"', `"largeChartUrl": "${currentPageUrl}"`)
			});
			const symbol = readSymbolFromQueryString() || 'NASDAQ:AAPL';
			function setSymbol(scriptContent) {
				return scriptContent.replace(/"symbol": "([^"]*)"/g, () => {
					return `"symbol": "${symbol}"`;
				});
			}
			cloneTemplateInto('symbol-info-template', 'symbol-info', setSymbol);
			cloneTemplateInto('advanced-chart-template', 'advanced-chart');
			cloneTemplateInto('company-profile-template', 'company-profile', setSymbol);
			cloneTemplateInto('fundamental-data-template', 'fundamental-data', setSymbol);
			cloneTemplateInto('technical-analysis-template', 'technical-analysis', setSymbol);
			cloneTemplateInto('top-stories-template', 'top-stories', setSymbol);
			if (symbol) {
				document.title = `Stock Details - ${symbol}`;
			}
		</script>
</div>
{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}


{% block scripts %}
<script src={% static "finance/js/finance_analytics.js" %}></script>
{% endblock scripts %}
