{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Дэшборд финансы</title>
{% endblock title %}

{%block styles %}
<link rel="stylesheet" href="{% static 'finance/css/finance.css' %}">
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with financepage="active"  financehomepage="active" icon1='<i class="fa fa-power-off glow-icon" aria-hidden="true"></i>' %}

{% endblock sidebar %}


{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-2">Финансы</h3>
    </div>
    <section class="container item mb-5"></section>
      <div class="row finance-header">
        <div class="col-4 col-md-4 col-xl-4 col-xxl-4 finance-header-buttons">
          <div class="row d-flex my-auto h-100">
            <div class="col-6 col-md-6 col-xl-6 col-xxl-6 instrument-pag text-center my-auto"><a class="nav-link" href="{% url 'finance:finance_home'%}"><button type="button" class="btn btn-secondary">Показатели</button></a></div>
              <div class="col-6 col-md-6 col-xl-6 col-xxl-6 instrument-pag text-center my-auto"><a class="nav-link active" href="{% url 'finance:visualize'%}"><button type="button" class="btn btn-primary">Визуализация</button></a></div>

          </div>
        </div>

        <div class="col-8 col-md-8 col-xl-8 col-xxl-8">
              <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container d-flex align-self-center">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500 Index"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR to USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "Bitcoin"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "Ethereum"
                },
                {
                  "description": "EUR TO RUB",
                  "proName": "FX:EURUSD"
                },
                {
                  "description": "meta",
                  "proName": "NASDAQ:META"
                },
                {
                  "description": "us dollar index",
                  "proName": "CAPITALCOM:DXY"
                },
                {
                  "description": "meme",
                  "proName": "BINANCE:MEMEUSDT"
                },
                {
                  "description": "tesla",
                  "proName": "NASDAQ:TSLA"
                },
                {
                  "description": "solusdt",
                  "proName": "BINANCE:SOLUSDT"
                },
                {
                  "description": "microsoft",
                  "proName": "NASDAQ:MSFT"
                },
                {
                  "description": "US REPO DATE",
                  "proName": "ECONOMICS:USRR"
                }
              ],
              "showSymbolLogo": true,
              "isTransparent": true,
              "displayMode": "adaptive",
              "colorTheme": "dark",
              "locale": "ru"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->

        </div>
      </div>
    </section>

    <div class="row mt-5 ticker-list">
        <div class="d-sm-flex justify-content-between align-items-center mb-2">
            <h2 class="mb-2">Инструмент работы с графиками</h2>
        </div>
    </div>

    <div class="row mt-3 equal">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="widget card shadow mb-4">
          <div class="card-header widget d-flex justify-content-between align-items-center">
            <h6 class="fw-bold m-0">Валюты</h6>
            <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
              <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                <p class="text-center dropdown-header">Меню</p><a class="dropdown-item" href="#">&nbsp;Смотреть все</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="card-body val-catalogue flex-1" id="card-body-main">
                <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                {
                "width": "auto",
                "height": "610",
                "symbol": "AAPL",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "enable_publishing": true,
                "backgroundColor": "rgba(66, 66, 66, 1)",
                "withdateranges": true,
                "hide_side_toolbar": false,
                "allow_symbol_change": true,
                "details": true,
                "calendar": false,
                "support_host": "https://www.tradingview.com"
              }
                </script>
              </div>
              <!-- TradingView Widget END -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 ticker-list">
        <div class="d-sm-flex justify-content-between align-items-center mb-2">
            <h2 class="mb-2">Тепловые карты</h2>
        </div>
    </div>


    <div class="row mt-3 equal">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <div class="widget card shadow mb-4">
          <div class="card-header widget d-flex justify-content-between align-items-center">
            <h6 class="fw-bold m-0">Акции</h6>
            <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
              <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                <p class="text-center dropdown-header">Меню</p><a class="dropdown-item" href="#">&nbsp;Смотреть все</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="card-body val-catalogue flex-1" id="card-body-main">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
    =              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-stock-heatmap.js" async>
                  {
                  "exchanges": [],
                  "dataSource": "SPX500",
                  "grouping": "sector",
                  "blockSize": "market_cap_basic",
                  "blockColor": "change",
                  "locale": "en",
                  "symbolUrl": "",
                  "colorTheme": "dark",
                  "hasTopBar": true,
                  "isDataSetEnabled": true,
                  "isZoomEnabled": true,
                  "hasSymbolTooltip": true,
                  "width": "auto",
                  "height": 500
                }
                  </script>
                </div>
                <!-- TradingView Widget END -->
          </div>
        </div>
      </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <div class="widget card shadow mb-4">
          <div class="card-header widget d-flex justify-content-between align-items-center">
            <h6 class="fw-bold m-0">Валюты</h6>
            <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
              <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                <p class="text-center dropdown-header">Меню</p><a class="dropdown-item" href="#">&nbsp;Смотреть все</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="card-body val-catalogue flex-1" id="card-body-main">
           <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
                  {
                  "width": "auto",
                  "height": 500,
                  "currencies": [
                    "EUR",
                    "USD",
                    "JPY",
                    "GBP",
                    "CHF",
                    "AUD",
                    "CAD",
                    "NZD",
                    "CNY",
                    "TRY",
                    "SEK",
                    "NOK",
                    "DKK",
                    "ZAR",
                    "HKD",
                    "SGD",
                    "THB",
                    "MXN"
                  ],
                  "isTransparent": true,
                  "colorTheme": "dark",
                  "locale": "en"
                }
                  </script>
                </div>
                <!-- TradingView Widget END -->
          </div>
        </div>
      </div>
    </div>
</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}

{% block scripts %}
<script src={% static "finance/js/heights_script.js" %}></script>
{% endblock scripts %}