{% extends 'to_do_list/template_to_do_list.html' %}

{% block content %}
{% load static %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="mb-2"><span id="hello_text"></span> {{user.username}}</h3>
</div>

<h4 class="mb-3">У вас есть <i id="count_tasks">{{count}}</i> <span id="correct_word"></span></h4>


<a href="{% url 'to_do_list:task-create' %}">
    <button class="btn btn-primary mb-5" type="button">ДОБАВИТЬ ЗАДАЧУ</button>
</a>


<form method="GET">
    <div class="row justify-content-end">
        <div class="col-6 float-right">
            <div class="input-group mb-3 h-50">
                <input class="bg-light form-control border-0 small" type="text" placeholder="Поиск по задачам..." name="search-area" value="{{ search_input }}">
                <button class="btn btn-info py-0" type="submit" value="Search"><i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</form>


<div class="widget card shadow mb-4">
    <div class="card-header widget py-3">
        <h6 class=" fw m-0">Список дел</h6>
    </div>
    {% for task in tasks %}
    {% if task.complete %}
    {% else %}
    <ul class="list-group list-group-flush">
        <li class="widget list-group-item">
            <div class="row align-items-center no-gutters">

                <div class="col me-2">
                    <a href="{% url 'to_do_list:task-update' task.id %}">
                        <div class="row">
                            <h6 class="mb-0"><strong>{{ task.title }}</strong></h6><span class="text-xs">{{ task.create }}</span>
                        </div>
                    </a>
                </div>

                <div class="col-auto">
                    <a class="delete-link" href="{% url 'to_do_list:task-delete' task.id %}">&#215;</a>
                </div>

            </div>
        </li>
    </ul>

    {% endif %}
    {% endfor %}
</div>

<div class="widget card shadow mb-4">
    <div class="card-header widget py-3">
        <h6 class=" fw m-0">Завершенные</h6>
    </div>
    {% for task in tasks %}
    {% if task.complete %}
    <ul class="list-group list-group-flush">
        <li class="widget list-group-item">
            <div class="row align-items-center no-gutters">


                    <div class="col me-2">
                        <a href="{% url 'to_do_list:task-update' task.id %}">
                            <i><s><h6 class="mb-0"><strong>{{ task.title }}</strong></h6><span class="text-xs">{{ task.create }}</span></s></i>
                        </a>
                    </div>

                <div class="col-auto">
                    <a class="delete-link" href="{% url 'to_do_list:task-delete' task.id %}">&#215;</a>
                </div>
            </div>
        </li>

    </ul>
    {% endif %}
    {% endfor %}
</div>

<script src={% static "to_do_list/js/to_do_list/task_word_end.js" %}></script>

{% endblock content %}

