{% extends 'base/page/base.html' %}
{% load static %}

{% block title %}
<title>Подтверждение удаления</title>
{% endblock title %}

{%block styles %}
<link rel="stylesheet" href="{% static 'to_do_list/css/to_do_list.css' %}">
{% endblock styles%}

{% block sidebar %}

{% include 'base/page/sidebar.html' with taskpage="active" %}

{% endblock sidebar %}

{% block navbar %}

{% include 'base/page/navbar.html' %}

{% endblock navbar %}

{% block pagecontent %}
<div class="container-fluid main-page mt-5">
    <div class="row-2 justify-content-start mb-5">
        <a href="{% url 'to_do_list:task_list' %}">
            <button type="button my-2" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"></path>
                    </svg>
                    Вернуться назад
            </button>
        </a>
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-2">Вы уверены, что хотите удалить задачу <span STYLE="color: #5ec7d6"> {{ task }}</span> ?</h3>
    </div>
    <a href="{% url 'to_do_list:task_list' %}">

    </a>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" value="Delete" class="btn btn-danger">Удалить</button>

    </form>
</div>

{% include 'base/page/chatbot.html' %}
{% endblock pagecontent %}


{% block scripts %}

{% endblock scripts %}