:root {
    --navbar-left-color: rgb(25, 52, 98);
    --main-page-color: rgb(239, 243, 245);
    --widget-color: #FFFFFF;

    --header-text-color: #2F2F2F;

    --text-color: #808080;

    --white-element-color: #FFFFFF;

    --link-color: #3030dc;
}