body {
    background-color: #072A40;
}

.line {
    position: relative;
    left: 0;
    right: 0;
    border-top: 2px solid #FFFFFF;
}

.heading {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
}

.brand-name {
    margin: auto;
}

h1 {
    margin-left: 20px;
    font-size: 4vw;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    letter-spacing: 8px;
    font-weight: bold;
}

.card {
    background-color: rgba(39, 70, 89, 0.8);

}

.loaderArea {
  background: #072A40;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.loader:before {
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(180deg) skew(360deg);
  }
}


.loader:after {
  animation: animate2 2s infinite linear;
}

@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

@media screen and (max-width: 540px) {
    .divider{
        height: 4rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    .divider{
        height: 6rem;
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
    .divider {
        height: 6rem;
    }
}

@media screen and (max-width: 4000px) and (min-width: 1001px)  {
    .divider {
        height: 6rem;
    }
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
}

#page-wrapper {
    position: relative;
    z-index: 1000;
    height: 100%;
}